.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.heading {
  margin-left: -35rem;
  font-size: 2rem;
}

.logo {
  height: 50px;
  margin-left: 1rem;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  padding: 1rem;
  color: rgb(32, 127, 215);
  gap: 20px;
}

.active {
  text-decoration: none;
}

.activeLink {
  color: rgb(32, 127, 215);
  gap: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.horizontal {
  color: black;
  height: 2px;
}
