.rocketList {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.rocketItem {
  display: flex;
  align-items: self-start;
  margin-bottom: 1rem;
}

.flickr {
  width: 320px;
  height: 250px;
  object-fit: cover;
  margin: 0 1rem;
}

.textWrapper {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
  color: black;
}

.description {
  font-size: 1.1rem;
  margin-right: 1.5rem;
  color: black;
}

.reserve {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: rgb(29, 161, 186);
  font-weight: bolder;
  border-radius: 5px;
  border-color: rgb(74, 115, 218);
  cursor: pointer;
  height: 40px;
  width: fit-content;
}

.cancel {
  height: 40px;
  width: fit-content;
  margin-top: 20px;
  font-weight: bolder;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid rgb(109, 117, 126);
  border-radius: 5px;
  color: rgb(109, 117, 126);
}

.reserved {
  background-color: rgb(29, 161, 186);
  font-size: 17px;
  width: 100px;
  height: 25px;
  margin-right: 10px;
  border-radius: 2px;
  color: white;
  padding: 0 5px;
}
